body {
  font-family: 'Sulphur Point', sans-serif;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: none !important;
}

.center-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bold 
{
  font-weight: bold;
}

.container {
  height: 100vh;
}

.left {
  text-align: left;
}

a:hover {
  background-color: #8d6e63;
}